<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzd.db.account.dao.mapper.TbTransactionActivityDetailMapper">
  <resultMap id="BaseResultMap" type="com.yzd.db.account.entity.table.TbTransactionActivityDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="txc_id" jdbcType="BIGINT" property="txcId" />
    <result column="txc_brance_id" jdbcType="VARCHAR" property="txcBranceId" />
    <result column="txc_step_status" jdbcType="INTEGER" property="txcStepStatus" />
    <result column="txc_step_name" jdbcType="VARCHAR" property="txcStepName" />
    <result column="txc_detail_jaon" jdbcType="VARCHAR" property="txcDetailJaon" />
    <result column="txc_rollback_status" jdbcType="INTEGER" property="txcRollbackStatus" />
    <result column="txc_log" jdbcType="VARCHAR" property="txcLog" />
    <result column="txc_database_name" jdbcType="VARCHAR" property="txcDatabaseName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_is_deleted" jdbcType="INTEGER" property="gmtIsDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, txc_id, txc_brance_id, txc_step_status, txc_step_name, txc_detail_jaon, txc_rollback_status,
    txc_log, txc_database_name, gmt_create, gmt_modified, gmt_is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_transaction_activity_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.yzd.db.account.entity.table.TbTransactionActivityDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_transaction_activity_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txcId != null">
        txc_id,
      </if>
      <if test="txcBranceId != null">
        txc_brance_id,
      </if>
      <if test="txcStepStatus != null">
        txc_step_status,
      </if>
      <if test="txcStepName != null">
        txc_step_name,
      </if>
      <if test="txcDetailJaon != null">
        txc_detail_jaon,
      </if>
      <if test="txcRollbackStatus != null">
        txc_rollback_status,
      </if>
      <if test="txcLog != null">
        txc_log,
      </if>
      <if test="txcDatabaseName != null">
        txc_database_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtIsDeleted != null">
        gmt_is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txcId != null">
        #{txcId,jdbcType=BIGINT},
      </if>
      <if test="txcBranceId != null">
        #{txcBranceId,jdbcType=VARCHAR},
      </if>
      <if test="txcStepStatus != null">
        #{txcStepStatus,jdbcType=INTEGER},
      </if>
      <if test="txcStepName != null">
        #{txcStepName,jdbcType=VARCHAR},
      </if>
      <if test="txcDetailJaon != null">
        #{txcDetailJaon,jdbcType=VARCHAR},
      </if>
      <if test="txcRollbackStatus != null">
        #{txcRollbackStatus,jdbcType=INTEGER},
      </if>
      <if test="txcLog != null">
        #{txcLog,jdbcType=VARCHAR},
      </if>
      <if test="txcDatabaseName != null">
        #{txcDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDeleted != null">
        #{gmtIsDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzd.db.account.entity.table.TbTransactionActivityDetail">
    update tb_transaction_activity_detail
    <set>
      <if test="txcId != null">
        txc_id = #{txcId,jdbcType=BIGINT},
      </if>
      <if test="txcBranceId != null">
        txc_brance_id = #{txcBranceId,jdbcType=VARCHAR},
      </if>
      <if test="txcStepStatus != null">
        txc_step_status = #{txcStepStatus,jdbcType=INTEGER},
      </if>
      <if test="txcStepName != null">
        txc_step_name = #{txcStepName,jdbcType=VARCHAR},
      </if>
      <if test="txcDetailJaon != null">
        txc_detail_jaon = #{txcDetailJaon,jdbcType=VARCHAR},
      </if>
      <if test="txcRollbackStatus != null">
        txc_rollback_status = #{txcRollbackStatus,jdbcType=INTEGER},
      </if>
      <if test="txcLog != null">
        txc_log = #{txcLog,jdbcType=VARCHAR},
      </if>
      <if test="txcDatabaseName != null">
        txc_database_name = #{txcDatabaseName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDeleted != null">
        gmt_is_deleted = #{gmtIsDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- //////////////////////////////自定义代码分割线///////////////////////////////////// -->
  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM tb_transaction_activity_detail
    <where>
      <if test="pojo.id != null"> AND id = #{pojo.id} </if>
      <if test="pojo.txcId != null"> AND txc_id = #{pojo.txcId} </if>
      <if test="pojo.txcBranceId != null"> AND txc_brance_id = #{pojo.txcBranceId} </if>
      <if test="pojo.txcStepStatus != null"> AND txc_step_status = #{pojo.txcStepStatus} </if>
      <if test="pojo.txcStepName != null"> AND txc_step_name = #{pojo.txcStepName} </if>
      <if test="pojo.txcDetailJaon != null"> AND txc_detail_jaon = #{pojo.txcDetailJaon} </if>
      <if test="pojo.txcRollbackStatus != null"> AND txc_rollback_status = #{pojo.txcRollbackStatus} </if>
      <if test="pojo.txcLog != null"> AND txc_log = #{pojo.txcLog} </if>
      <if test="pojo.gmtCreate != null"> AND gmt_create = #{pojo.gmtCreate} </if>
      <if test="pojo.gmtModified != null"> AND gmt_modified = #{pojo.gmtModified} </if>
      <if test="pojo.gmtIsDeleted != null"> AND gmt_is_deleted = #{pojo.gmtIsDeleted} </if>
    </where>
    LIMIT 1000
  </select>
</mapper>